body {
  padding: 0;
  margin: 0;
  background: url(../img/body.jpg) repeat;
}

#notice_wrap {
  position: fixed;
  display: none;
}

.header {
  background: url(../img/icon_48.png) no-repeat;
  padding-left: 55px;
  height: 48px;
  line-height: 48px;
}

.r-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.r-btn-pull, .r-btn-unsubscribe {
  margin-left: 10px;
}

.r-subscribe-group .list-group-item ul {
  display: none;
}

